<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Geometry++" Language="1033" Version="0.4.0.0" Manufacturer="CodeStack" UpgradeCode="{56083FFE-D237-4BC0-A853-BA1C65BC9F68}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Geometry++ is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_Common" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Icon Id="MainIconId" SourceFile="Resources\icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="MainIconId" />
		<WixVariable Id="WixUIBannerBmp" Value="Resources\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Resources\dialog.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="Resources\eula.rtf" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="FilesRegGroup" />
      <ComponentGroupRef Id="AddInComRegGroup" />
      <ComponentRef Id="AddInRegistry"/>
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="CodeStackDirId" Name="CodeStack">
					<Directory Id="INSTALLFOLDER" Name="Geometry++" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>